{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-usuarios.css') }}">
{% endblock %}

{% block content %}

<h2 class="titulo-admin">Usuarios activos</h2>

<div class="admin-buttons-top">
    <a href="{{ url_for('usuarios.agregar_usuario') }}"
       class="btn-top btn-add-user">
       Agregar Usuario
    </a>

    <a href="{{ url_for('usuarios.usuarios_inactivos') }}"
       class="btn-top btn-ghost">
       Mostrar fantasmas
    </a>
</div>

<table class="table-custom">
    <thead>
        <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.role }}</td>
            <td class="acciones-col">
                <a href="{{ url_for('usuarios.editar_usuario', id=usuario.id) }}"
                   class="btn-action btn-edit">Editar</a>

                <a href="{{ url_for('usuarios.desactivar_usuario', id=usuario.id) }}"
                   class="btn-action btn-delete">
                   Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
