{% extends 'base.html' %}
{% block title %}Mi Biblioteca{% endblock %}
{% set active_page = 'biblioteca' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/biblioteca.css') }}?v=1">
{% endblock %}

{% block content %}
<h1 class="titulo-biblioteca">Mi Biblioteca</h1>

<div class="biblioteca-container">
    {% for j in juegos %}
    <div class="biblio-card">

        <div class="biblio-img-wrapper">
            <a href="{{ url_for('main.juego_detalle', id=j.id) }}">
                <img src="{{ url_for('static', filename='IMG/productos/' + (j.imagen if j.imagen else 'default.png')) }}">
            </a>
        </div>

        <div class="biblio-title">
            <span>{{ j.nombre }}</span>

            {% set imagen_juego = j.imagen if j.imagen else 'default.png' %}
            <a href="{{ url_for('main.descargar_juego_imagen', nombre_imagen=imagen_juego, nombre_juego=j.nombre) }}"
               class="biblio-play-btn">
                Jugar
            </a>
        </div>

        <p class="biblio-desc">{{ j.descripcion }}</p>
        <p class="biblio-date">Adquirido el {{ j.fecha_adquirido }}</p>

    </div>
    {% endfor %}
</div>

{% endblock %}
